.notification[data-type=success]{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.notification[data-type=error]{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.notification[data-type=warning]{
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.notification[data-type=info]{
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}